<section class="heros">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 hero-left">
        <h2 class="pt-4 text-white fade-in " data-aos="fade-right" >On-Demand Subscription Based Insurance</h2>
        <p class="text-white pt-4 " data-aos="fade-left" >
          Our On-Demand Insurance Platform will allow Corporate, SME or even
          startups to get one-off coverage and insure only what you need, when
          you need.
        </p>
        <a class="btn bg-white text-primary my-4" data-aos="fade-down-right"> Get Started</a>
        <div class="d-flex" data-aos="fade-down-right">
          <div class="circle" ></div>
          <div
            class="circle c1 " 
            *ngFor="let profile of profilesImgs"
            [style.background-image]="'url(' + profile + ')'"
          ></div>
        </div>
        <p class="pt-3 text-white " data-aos="fade-down-left" >
          More than <strong>300,000</strong> customers and offer
          <strong>25</strong> product
        </p>
      </div>
      <div class="col-lg-7 hero-right">
        <img src="assets/imgs/6.jpg" data-aos="fade-down-left" />

        <div class="card border-0 card-top " data-aos="fade-up-right">
          <div class="card-body">
            <h6 class="card-title pb-1" >
              3 Simple steps in become our partner
            </h6>
            <div class="progress p1"></div>
            <div class="progress p2 mt-2"></div>
          </div>
        </div>

        <div class="card border-0 card-bottom " data-aos="fade-down-right" >
          <div class="card-body">
            <h6 class="card-title pb-1 ">
              3 Simple steps in become our partner
            </h6>
            <div class="progress p1"></div>
            <div class="progress p2 mt-2"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
