<section class="testimoni">
  <div class="container py-5">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h1 class="text-primary  pt-5 pb-3 " data-aos="fade-up" >Hear it from our Partner</h1>
        <p class="pb-5" data-aos="fade-down"> Same of the testimonial shared by our partners</p>
      </div>
      <div class="col-lg-6 testimoni-left ">
        <img src="assets/imgs/1.jpg" class="main-img" data-aos="fade-up" >

        <div class="card border-0 float-end  shadow " data-aos="fade-down">
          <div class="card-body">
            <h5 class="text-primary">The Get Quote Portal lets me get my quotes in just 3 clicks and the process is fast
              and clear. Simple
              and clear.</h5>
          </div>

          <div class="card-footer border-0 bg-white d-flex"  >
            <div class="profiles pe-4">
              <img src="assets/imgs/1.jpg">

            </div>
            <h5>
              John Smith
              <br>
              <small>Head of Strategy</small>
            </h5>
          </div>
        </div>

      </div>

      <div class="col-lg-6 testimoni-right ">
        <img src="assets/imgs/2.jpg" class="float-end main-img" data-aos="fade-up" >

        <div class="card border-0 mt-4  shadow" data-aos="fade-down" >
          <div class="card-body">
            <h5 class="text-primary">The Get Quote Portal lets me get my quotes in just 3 clicks and the process is fast
              and clear. Simple
              and clear.</h5>
          </div>

          <div class="card-footer border-0 bg-white d-flex">
            <div class="profiles pe-4">
              <img src="assets/imgs/2.jpg">

            </div>
            <h5>
              Sophia Alex
              <br>
              <small>Marketing Specialist</small>
            </h5>
          </div>
        </div>

      </div>

    </div>

  </div>

</section>
