.PROMOTIONS1 {
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  min-height: 550px !important;
}

.carousel {
  background: transparent !important;
  height: 500px;

}

.carousel-cell1 {
  width: 32.5%;
  height: 450px;
  margin-right: 10px;
  border-radius: 15px;
  counter-increment: gallery-cell;
  background: white;
}

.carousel-cell1.is-selected {
  background: #03385A;
}

.carousel-cell1.is-selected h5 {
  color: white;

}

.s-title {
  color: #212529;
}

h5 {
  color: #0862a0;
  font-weight: 700;
}

.promotion-num {
  color: white;
  text-align: left !important;
  padding-top: 5px;
  padding-left: 10px;
}

.header {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  height: 300px;
  width: 100%;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.g1 {
  background-image: url(../../../assets/imgs/5.png);
}

.footer {
  font-size: 14px;
  padding: 20px;
}

/* Large devices (desktops, 992px and lower) */
@media (max-width: 992px) {

  .carousel-cell,
  .carousel-cell1 {
    width: 50%;
  }
}

/* Medium devices (tablets, 768px and lower) */
@media (max-width: 768px) {

  .carousel-cell,
  .carousel-cell1 {
    width: 70%;
  }
}

/* Small devices (landscape phones, 576px and lower) */
@media (max-width: 576px) {

  .carousel-cell,
  .carousel-cell1 {
    width: 100%;
  }
}
