/* You can add global styles to this file, and also import other style files */

html,
body {
  font-family: 'Nunito', sans-serif;
  padding: 0 !important;
  margin: 0 !important;
  overflow-x: hidden !important;

}

/* Colors */
/* #0862a0  */
/* #03385A  */


/* text */
.text-primary {
  color: #0862a0 !important;
}

h1 {
  font-weight: 800;
}

.btn {
  font-weight: 600;
}


/* Animation */

.scrolled.fade-in {
  animation: fade-in 1s ease-in-out both;
}
 
.scrolled.fade-in-bottom {
  animation: fade-in-bottom 1s ease-in-out both;
}
 
.scrolled.slide-left {
  animation: slide-in-left 1s ease-in-out both;
}
 
.scrolled.slide-right {
  animation: slide-in-right 1s ease-in-out both;
}
 
@keyframes slide-in-left {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
 
@keyframes slide-in-right {
  0% {
    transform: translateX(100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
 
@keyframes fade-in-bottom {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
 
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}