<div class=" card p-0 text-white h-100 border-0">
  <img src="{{photo}}" class="card-img" alt="..." data-aos="zoom-in" >
  <div class="card-footer text-center py-3" data-aos="zoom-in">
    <h5 data-aos="fade-up-right">{{title}}</h5>
    <p data-aos="fade-up-left">{{subTitle}}</p>
    <div class="social-media " data-aos="flip-up">
      <ul class="d-flex justify-content-center" >
        <li>
          <a href="{{linkedin}}" target="_blank"> <i class="fab fa-linkedin-in"></i></a>
        </li>
        <li>
          <a href="{{behance}}" target="_blank"> <i class="fab fa-behance"></i></a>
        </li>
        <li>
          <a href="{{instagram}}" target="_blank"> <i class="fab fa-instagram"></i></a>
        </li>
        <li>
          <a href="{{dribbble}}" target="_blank"> <i class="fab fa-dribbble"></i></a>
        </li>
      </ul>

    </div>
  </div>
</div>
